services:
  # Web Client
  webclient:
    restart: unless-stopped
    image: ghcr.io/nils-witt/ts-interactive-webmap:${RELEASE_VERSION:-latest}
    ports:
      - "${PROXY_LISTENER:-127.0.0.1}:8088:80"
    volumes:
      - ./config.json:/usr/share/nginx/html/config.json
# Vector Server
  tilesserver:
    restart: unless-stopped
    image: maptiler/tileserver-gl:latest
    command: -u https://${DOMAIN}/vector/
    volumes:
      - ${OSM_VECTOR_PATH}:/data
# Overlay Server
  proxy:
    restart: unless-stopped
    build: ./resty-overlay/
    ports:
      - "${PROXY_LISTENER:-127.0.0.1}:8089:80"
    volumes:
      - ./proxy/virtualhost.conf:/etc/nginx/conf.d/default.conf
      - ./proxy/additive.main:/etc/nginx/conf.d/additive.main
      - ${OSM_OVERLAY_PATH}:/www/overlays
      - ${WEBMAP_STATIC_PATH}:/www/webmap
      - staticfiles:/usr/share/nginx/html/static
    env_file:
      - .env
    depends_on:
      - springboot
      - tilesserver
      - webclient
    links:
      - springboot
      - tilesserver
      - webclient
# Database Server
  dbspring:
    restart: unless-stopped
    image: postgres:18
    volumes:
      -  ${API_SPRING_DB_PATH:-./db_spring}:/var/lib/postgresql
    environment:
      POSTGRES_DB: 'drk_core'
      POSTGRES_USER: 'drk_core'
      POSTGRES_PASSWORD: 'drk_core'
  springboot:
    restart: unless-stopped
    image: ghcr.io/nils-witt/webmap_backend_spring:main
    environment:
      DB_URL: jdbc:postgresql://dbspring:5432/drk_core
      DB_USER: drk_core
      DB_PASSWORD: drk_core
    volumes:
      - ${OSM_OVERLAY_PATH}:/overlays
    depends_on:
      - dbspring
    links:
      - dbspring
    env_file:
      - .env
volumes:
  staticfiles:
