services:
# Redis Server
  redis:
    image: redis:8
    restart: unless-stopped
# Database Server
  db:
    restart: unless-stopped
    image: postgres:18
    volumes:
      -  ${API_DB_PATH:-./db}:/var/lib/postgresql
    environment:
      POSTGRES_DB: 'drk_core'
      POSTGRES_USER: 'drk_core'
      POSTGRES_PASSWORD: 'drk_core'
# API Server
  django:
    restart: unless-stopped
    image: ghcr.io/nils-witt/py-interactive-webmap-backend:${RELEASE_VERSION:-latest}
    environment:
      DB_HOST: 'db'
      DB_NAME: 'drk_core'
      DB_USER: 'drk_core'
      DB_PASSWORD: 'drk_core'
      DB_PORT: '5432'
      REDIS_HOST: 'redis'
    depends_on:
      - db
      - redis
    links:
      - db
      - redis
    volumes:
      - staticfiles:/code/staticfiles/
    env_file:
      - .env
# Web Client
  webclient:
    restart: unless-stopped
    image: ghcr.io/nils-witt/ts-interactive-webmap:${RELEASE_VERSION:-latest}
# Vector Server
  tilesserver:
    restart: unless-stopped
    image: maptiler/tileserver-gl:latest
    command: -u https://${DOMAIN}/vector/
    volumes:
      - ${OSM_VECTOR_PATH}:/data
# Overlay Server
  proxy:
    restart: unless-stopped
    build: ./resty-overlay/
    ports:
      - "${PROXY_LISTENER:-127.0.0.1}:8089:80"
    volumes:
      - ./proxy/virtualhost.conf:/etc/nginx/conf.d/default.conf
      - ./proxy/additive.main:/etc/nginx/conf.d/additive.main
      - ${OSM_OVERLAY_PATH}:/www/overlays
      - ${WEBMAP_STATIC_PATH}:/www/webmap
      - staticfiles:/usr/share/nginx/html/static
    env_file:
      - .env

    depends_on:
      - django
      - tilesserver
      - webclient
    links:
      - django
      - tilesserver
      - webclient
volumes:
  staticfiles:
